[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
email-validator = "*"
python-dotenv = "*"
apscheduler = "*"
flask-cors = "*"
psycopg2-binary = "*"
sqlalchemy-serializer = "*"
google-auth = "*"
requests = "*"
reportlab = "*"
"backports.zoneinfo" = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
